Botcoin/bin/Debug/Botcoin.Adapters.MtGox.dll
Botcoin/bin/Debug/Botcoin.Adapters.MtGox.pdb
Botcoin/bin/Debug/Botcoin.DataStore.dll
Botcoin/bin/Debug/Botcoin.DataStore.pdb
Botcoin/bin/Debug/Botcoin.exe
Botcoin/bin/Debug/Botcoin.pdb
Botcoin/bin/Debug/Botcoin.Shared.dll
Botcoin/bin/Debug/Botcoin.Shared.pdb
Botcoin/bin/Debug/Botcoin.Strategy.Arbitrarge1.dll
Botcoin/bin/Debug/Botcoin.Strategy.Arbitrarge1.pdb
Botcoin/bin/Debug/Botcoin.vshost.exe.manifest
Botcoin/obj/Debug/Botcoin.csprojResolveAssemblyReference.cache
Botcoin/obj/Debug/Botcoin.exe
Botcoin/obj/Debug/Botcoin.pdb
Botcoin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Botcoin.Adapters.MtGox/bin/Debug/Botcoin.Adapters.MtGox.dll
Botcoin.Adapters.MtGox/bin/Debug/Botcoin.Adapters.MtGox.pdb
Botcoin.Adapters.MtGox/bin/Debug/Botcoin.Shared.dll
Botcoin.Adapters.MtGox/bin/Debug/Botcoin.Shared.pdb
Botcoin.Adapters.MtGox/obj/Debug/Botcoin.Adapters.MtGox.csprojResolveAssemblyReference.cache
Botcoin.Adapters.MtGox/obj/Debug/Botcoin.Adapters.MtGox.dll
Botcoin.Adapters.MtGox/obj/Debug/Botcoin.Adapters.MtGox.pdb
Botcoin.DataStore/bin/Debug/Botcoin.DataStore.dll
Botcoin.DataStore/bin/Debug/Botcoin.DataStore.pdb
Botcoin.DataStore/bin/Debug/Botcoin.Shared.dll
Botcoin.DataStore/bin/Debug/Botcoin.Shared.pdb
Botcoin.DataStore/obj/Debug/Botcoin.DataStore.csprojResolveAssemblyReference.cache
Botcoin.DataStore/obj/Debug/Botcoin.DataStore.dll
Botcoin.DataStore/obj/Debug/Botcoin.DataStore.pdb
Botcoin.Shared/bin/Debug/Botcoin.Shared.dll
Botcoin.Shared/bin/Debug/Botcoin.Shared.pdb
Botcoin.Shared/obj/Debug/Botcoin.Shared.csproj.FileListAbsolute.txt
Botcoin.Shared/obj/Debug/Botcoin.Shared.csprojResolveAssemblyReference.cache
Botcoin.Shared/obj/Debug/Botcoin.Shared.dll
Botcoin.Shared/obj/Debug/Botcoin.Shared.pdb
Botcoin.Strategy.Arbitrarge1/bin/Debug/Botcoin.Shared.dll
Botcoin.Strategy.Arbitrarge1/bin/Debug/Botcoin.Shared.pdb
Botcoin.Strategy.Arbitrarge1/bin/Debug/Botcoin.Strategy.Arbitrarge1.dll
Botcoin.Strategy.Arbitrarge1/bin/Debug/Botcoin.Strategy.Arbitrarge1.pdb
Botcoin.Strategy.Arbitrarge1/obj/Debug/Botcoin.Strategy.Arbitrarge1.csprojResolveAssemblyReference.cache
Botcoin.Strategy.Arbitrarge1/obj/Debug/Botcoin.Strategy.Arbitrarge1.dll
Botcoin.Strategy.Arbitrarge1/obj/Debug/Botcoin.Strategy.Arbitrarge1.pdb
Botcoin.v11.suo
Botcoin/bin/Debug/Botcoin.Adapters.MtGox.dll
Botcoin/bin/Debug/Botcoin.Adapters.MtGox.pdb
Botcoin/bin/Debug/Botcoin.DataStore.dll
Botcoin/bin/Debug/Botcoin.DataStore.pdb
Botcoin/bin/Debug/Botcoin.exe
Botcoin/bin/Debug/Botcoin.pdb
Botcoin/bin/Debug/Botcoin.Shared.dll
Botcoin/bin/Debug/Botcoin.Shared.pdb
Botcoin/bin/Debug/Botcoin.Strategy.Arbitrarge1.dll
Botcoin/bin/Debug/Botcoin.Strategy.Arbitrarge1.pdb
Botcoin/obj/Debug/Botcoin.csprojResolveAssemblyReference.cache
Botcoin/obj/Debug/Botcoin.exe
Botcoin/obj/Debug/Botcoin.pdb
Botcoin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
